[submodule "2019-ncov-japan"]
	path = 2019-ncov-japan
	url = https://github.com/swsoyee/2019-ncov-japan.git
[submodule "data/2019-ncov-japan"]
	path = data/2019-ncov-japan
	url = https://github.com/swsoyee/2019-ncov-japan.git
