[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas = "*"
sanic-openapi = "==0.6.0"
flake8 = "*"
scipy = "*"

[packages]
sanic = "*"
sanic-cors = "*"

[requires]
python_version = "3.6"
